// .img,.button-upload {
//     width: 200px !important;
//     height: 200px;
// }

.btn1 {
    background: white;
    min-width: 50px;
    margin-left: 10px !important;
    .icon-upload {
        color: rgb(63, 81, 181);
    }
}

.wrap-file {
    height: 170px;
    .file-image {
        height: 100px;
    }
    .label-checkbox {
        font-size: 12px;
        line-height: initial;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        .md-container {
            top: 35%;
            left: initial;
        }
    }
}
