<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Image Manager</h2>
        <span flex></span>
        <input type="text" placeholder="search">
        <md-button class="btn btn1" id="btn-cancel" ng-click="cb.parentDirectory()">
            <md-icon class="material-icons icon-upload">arrow_upward</md-icon>
            <md-tooltip md-direction="top">
                Parent
            </md-tooltip>
        </md-button>
        <md-button class="btn btn1"
                   ngf-select="cb.uploadFiles(files)" 
                   ng-model="files"
                   multiple 
                   accept="image/*">
            <md-icon class="material-icons icon-upload">file_upload</md-icon>
            <md-tooltip md-direction="top">
                Upload
            </md-tooltip>
        </md-button>

        <md-menu md-position-mode="target-right target" md-offset="100 0" class="">
            <md-button ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons icon-upload">folder</md-icon>
                <md-tooltip md-direction="top">
                    New Folder
                </md-tooltip>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <input type="text" ng-model="newFolder">
                    <md-button id="btn-parent" ng-click="cb.addFolder(newFolder)" class="btn btn1">
                        <md-icon class="material-icons icon-upload">create_new_folder</md-icon>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <!--<md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>-->
        
    </div>
</md-toolbar>
<md-dialog-content>
    <div class="md-dialog-content">
        <md-menu ng-repeat="file in cb.getFiles()">
            <md-button class="col-md-2 wrap-file" aria-label="Open phone interactions menu" ng-click="addToProduct(file)" multiple ng-multiple="true"
                ng-dblclick="cb.loadFolder(file)" ng-right-click="$mdOpenMenu($event)">
                <div class="file-image">
                    <img src="http://77.81.178.198:25001/onlineShop/{{file.src}}" alt=""><br>
                </div>
                <md-checkbox class="label-checkbox" ng-model="file.checked[$index]" aria-label="Checkbox 1">
                    {{file.name}}
                </md-checkbox>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="cb.loadFolder(file)">
                        Open
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)">
                        Rename
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="cb.delete()">
                        Delete
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="cb.addToProduct(file)">
                    <!--<md-button ng-click="save(file,$index)">-->
                        Save
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
</md-dialog-content>

<md-dialog-actions layout="row">
    <md-button id="btn-save" ng-click="save()" class="md-primary">Save</md-button>
    <md-button id="btn-cancel" ng-click="cancel()" class="md-accent">Cancel</md-button>
</md-dialog-actions>