<div class="inner-box">
    <form class="form-horizontal" 
          name="addProductForm" 
          ng-submit="sendPost(formData)" 
          novalidate>

	    <div class="clearfix">
			<div class="col-md-12">
				<div class="pull-right add-button-container">
			        <md-button 
			        		class="md-fab md-primary md-mini add-button-round save-green" 
			        		aria-label="Add product" 
			        		type="submit" 
			        		ng-class="{isDisabled: addCategoryForm.$invalid}"
			        		ng-disabled="addCategoryForm.$invalid">
					    <md-tooltip md-direction="top">
				          	Save
				        </md-tooltip>
			          	<md-icon class="material-icons dev-icon">save</md-icon>
			        </md-button>
			        <md-button 
			        		class="md-fab md-primary md-mini custom-btn add-button-round" 
	        				aria-label="Add category" 
        					ui-sref="dashboard.products">
					    <md-tooltip md-direction="top">
				          	Cancel
				        </md-tooltip>
			          	<md-icon class="material-icons dev-icon">arrow_back</md-icon>
			        </md-button>
				</div>
			</div>
        </div> 
	    <md-content>
	        <md-tabs md-dynamic-height md-border-bottom>
	            <md-tab label="General">
	                <md-content class="md-padding content-md">

                        <md-input-container class="col-md-12 input-container">
                            <label>Product Name</label>
                            <input class="input-line" 
                                   ng-model="cb.getProduct().name" 
                                   name="name" 
                                   required>
                            <div ng-messages="addProductForm.name.$error">
                                <div ng-message="required">This is required.</div>
                                <!--<div ng-message="md-maxlength">The description must be less than 30 characters long.</div>-->
                            </div>
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Model</label>
                            <input class="input-line" ng-model="cb.getProduct().model">
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Price</label>
                            <input class="input-line" ng-model="cb.getProduct().price">
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Quantity</label>
                            <input class="input-line" ng-model="cb.getProduct().quantity">
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Stock Status</label>
                            <md-icon class="material-icons">assignment</md-icon>
                            <input class="input-line" ng-model="cb.getProduct().stockStatus">
                            <!--<md-select placeholder="Stock" ng-model="formData.stockStatus" class="form-control">
                                <md-option 
                                    ng-value="stock" 
                                    ng-repeat="stock in stocks">
                                    <span ng-bind="user.name"></span>
                                </md-option>
                            </md-select>-->
                        </md-input-container>
                        
                        <!--<div class="form-group">
                            <label for="categoryName" class="col-sm-2 control-label">
                                Product Name
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryName" 
                                		placeholder="Category Name"
                                		ng-model="cb.getProduct().name"
                                		required/>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="categoryModel" class="col-sm-2 control-label">
                                Model
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryModel" 
                                		placeholder="Model"
                                		ng-model="cb.getProduct().model"
                                		required/>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="categoryPrice" class="col-sm-2 control-label">
                                Price
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryPrice" 
                                		placeholder="Price"
                                		ng-model="cb.getProduct().price"
                                		required/>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="categoryQuantity" class="col-sm-2 control-label">
                                Quantity
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryQuantity" 
                                		placeholder="Quantity"
                                		ng-model="cb.getProduct().quantity"
                                		required/>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="stockStatus" class="col-sm-2 control-label">
                                Out Of Stock
                            </label>
                            <div class="col-sm-10">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="stockStatus" 
                                    placeholder="Out of Stock"
                                    ng-model="cb.getProduct().stockStatus"
                                    required/>
                                <md-select placeholder="Stock" ng-model="formData.stockStatus" class="form-control">
                                    <md-option 
                                        ng-value="stock" 
                                        ng-repeat="stock in stocks">
                                        <span ng-bind="user.name"></span>
                                    </md-option>
                                </md-select>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="shipping" class="col-sm-2 control-label">
                                Transportation?
                            </label>
                            <div class="col-sm-10">
                                <md-radio-group ng-model="cb.getProduct().shipping">
                                    <md-radio-button value="YES" class="md-primary">YES</md-radio-button>
                                    <md-radio-button value="NO">No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>

                        <md-input-container class="col-md-3 input-container">
                            <label>Length</label>
                            <input class="input-line" ng-model="cb.getProduct().dimensionL" required required>
                        </md-input-container>
                        <md-input-container class="col-md-3 input-container">
                            <label>Width</label>
                            <input class="input-line" ng-model="cb.getProduct().dimensionW">
                        </md-input-container>
                        <md-input-container class="col-md-3 input-container">
                            <label>Height</label>
                            <input class="input-line" ng-model="cb.getProduct().dimensionH">
                        </md-input-container>

                        <md-input-container class="col-md-3 input-container">
                            <label>Weight</label>
                            <input class="input-line" ng-model="cb.getProduct().weight">
                        </md-input-container>

                        <!--<div class="form-group">
                            <label for="" class="col-sm-2 control-label">
                                Dimensiuni
                            </label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input 
                                                type="text" 
                                                class="form-control" 
                                                id="dimensionL" 
                                                placeholder="Length"
                                                ng-model="cb.getProduct().dimensionL"
                                                required/>
                                    </div>
                                    <div class="col-sm-4">
                                        <input 
                                                type="text" 
                                                class="form-control" 
                                                id="dimensionW" 
                                                placeholder="Width"
                                                ng-model="cb.getProduct().dimensionW"
                                                required/>
                                    </div>
                                    <div class="col-sm-4">
                                        <input 
                                                type="text" 
                                                class="form-control" 
                                                id="dimensionH" 
                                                placeholder="Height"
                                                ng-model="cb.getProduct().dimensionH"
                                                required/>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="weight" class="col-sm-2 control-label">
                                Weight
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="weight" 
                                		placeholder="Weight"
                                		ng-model="cb.getProduct().weight"
                                		required/>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">
                            	Description
                        	</label>
                            <div class="col-sm-10">
                                <textarea 
                            			class="form-control" 
                            			rows="5" 
                            			ng-model="cb.getProduct().description"
                            			id="description">
                    			</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">
                            	Manufacturer
                            </label>
                            <div class="col-sm-10">
                        		<input 
                                    type="text" 
                                    class="form-control" 
                                    id="Manufacturer" 
                                    placeholder="Manufacturer"
                                    ng-model="cb.getProduct().manufacturer"
                                    required/>
                                <!--<md-autocomplete 
	                        		md-selected-item="formData.manufacturer" 
	                        		md-search-text="searchText" 
	                        		md-items="item in getMatches(searchText)" 
	                        		md-item-text="item.name" 
	                        		md-min-length="0" 
	                        		placeholder="Manufacturer">
								        <md-item-template> 
									        <span md-highlight-text="searchText">
									        	{{item.name}}
									        </span>
								        </md-item-template>
								        <md-not-found>
								        	No matches found.
							        	</md-not-found>
							    </md-autocomplete>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">
                            	Categories
                            </label>
                            <div class="col-sm-10">
                        		<md-autocomplete 
	                        		md-selected-item="formData.categories" 
	                        		md-search-text="searchText" 
	                        		md-items="item in getMatches(searchText)" 
	                        		md-item-text="item.name" 
	                        		md-min-length="0" 
	                        		placeholder="Categories">
								        <md-item-template> 
									        <span md-highlight-text="searchText">
									        	{{item.name}}
									        </span>
								        </md-item-template>
								        <md-not-found>
								        	No matches found.
							        	</md-not-found>
							    </md-autocomplete>
                            </div>
                        </div>
	                </md-content>
	            </md-tab>
	            <md-tab label="SEO">
	                <md-content class="md-padding content-md">
	                    <div class="form-group">
                            <label for="metaTitle" class="col-sm-2 control-label">Meta Tag Title</label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="metaTitle" 
                                		placeholder="Meta Tag Title" 
                                		ng-model="cb.getProduct().metaTitle"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="metaDescription" class="col-sm-2 control-label">Meta Tag Description</label>
                            <div class="col-sm-10">
                                <textarea 
                                		class="form-control" 
                                		rows="5"
                                		ng-model="cb.getProduct().metaDescription"
                                		id="metaDescription">
                        		</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="metaKeywords" class="col-sm-2 control-label">Meta Tag Keywords</label>
                            <div class="col-sm-10">
                                <textarea 
                                		class="form-control" 
                                		rows="5" 
                                		ng-model="cb.getProduct().metaKeywords"
                                		id="metaKeywords">
                        		</textarea>
                            </div>
                        </div>
	                </md-content>
	            </md-tab>
	            <md-tab label="Image">
	                <md-content class="md-padding content-md">
                        <div>
	                        <md-button class="md-raised" ng-click="showDialog()">Launch Modal</md-button>
                        </div>
	                </md-content>
	            </md-tab>
	        </md-tabs>
	    </md-content>    
	</form>
</div>