<div class="inner-box">
    <form class="form-horizontal" 
          name="productForm" 
          ng-submit="cb.addProduct(cb.getProduct())" 
          novalidate>

	    <div class="clearfix">
			<div class="col-md-12">
				<div class="pull-right add-button-container">
			        <md-button 
			        		class="md-fab md-primary md-mini add-button-round save-green" 
			        		aria-label="Add product" 
			        		type="submit" 
			        		ng-class="{isDisabled: productForm.$invalid}"
			        		ng-disabled="productForm.$invalid">
                            <!--ng-click="submit(cb.getProduct())"-->
					    <md-tooltip md-direction="top">
				          	Save
				        </md-tooltip>
			          	<md-icon class="material-icons dev-icon">save</md-icon>
			        </md-button>
			        <md-button 
			        		class="md-fab md-primary md-mini custom-btn add-button-round" 
	        				aria-label="Add category" 
        					ui-sref="dashboard.products">
					    <md-tooltip md-direction="top">
				          	Cancel
				        </md-tooltip>
			          	<md-icon class="material-icons dev-icon">arrow_back</md-icon>
			        </md-button>
				</div>
			</div>
        </div> 
	    <md-content>
	        <md-tabs md-dynamic-height md-border-bottom>
	            <md-tab label="General">
	                <md-content class="md-padding content-md">
                        <!--<md-input-container class="col-md-12 input-container">
                            <label>Product Name</label>
                            <input class="input-line" 
                                   ng-model="cb.getProduct().name" 
                                   name="name" 
                                   required>
                            <div ng-messages="addProductForm.name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Model</label>
                            <input class="input-line" ng-model="cb.getProduct().model">
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Price</label>
                            <input class="input-line" ng-model="cb.getProduct().price">
                        </md-input-container>
                        <md-input-container class="col-md-12 input-container">
                            <label>Quantity</label>
                            <input class="input-line" ng-model="cb.getProduct().quantity">
                        </md-input-container>-->
                        <!--<md-input-container class="col-md-12 input-container">
                            <label>Stock Status</label>
                            <md-icon class="material-icons">assignment</md-icon>
                            <input class="input-line" ng-model="cb.getProduct().stockStatus">
                            <md-select placeholder="Stock" ng-model="formData.stockStatus" class="form-control">
                                <md-option 
                                    ng-value="stock" 
                                    ng-repeat="stock in stocks">
                                    <span ng-bind="user.name"></span>
                                </md-option>
                            </md-select>
                        </md-input-container>-->
                        
                        <div class="form-group">
                            <label for="categoryName" class="col-sm-2 control-label">
                                Product Name
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryName" 
                                		placeholder="Category Name"
                                		ng-model="cb.getProduct().name"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryModel" class="col-sm-2 control-label">
                                Model
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryModel" 
                                		placeholder="Model"
                                		ng-model="cb.getProduct().model"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryPrice" class="col-sm-2 control-label">
                                Price
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryPrice" 
                                		placeholder="Price"
                                		ng-model="cb.getProduct().price"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryQuantity" class="col-sm-2 control-label">
                                Quantity
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="categoryQuantity" 
                                		placeholder="Quantity"
                                		ng-model="cb.getProduct().quantity"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stockStatus" class="col-sm-2 control-label">
                                Out Of Stock
                            </label>
                            <div class="col-sm-10">
                                <!--<input 
                                    type="text" 
                                    class="form-control" 
                                    id="stockStatus" 
                                    placeholder="Out of Stock"
                                    ng-model="cb.getProduct().stockStatus"
                                    required/>-->
                                <md-select placeholder="Stock" 
                                           ng-model="cb.getProduct().stockStatus" 
                                           class="form-control">
                                    <md-option 
                                        ng-repeat="stock in cb.stocks()"
                                        ng-value="stock.value">
                                        <span ng-bind="stock.stockStatus"></span>
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shipping" class="col-sm-2 control-label">
                                Transportation?
                            </label>
                            <div class="col-sm-10">
                                <md-radio-group ng-model="cb.getProduct().shipping">
                                    <md-radio-button value="true" class="md-primary">YES</md-radio-button>
                                    <md-radio-button value="false">No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>

                        <!--<md-input-container class="col-md-3 input-container">
                            <label>Length</label>
                            <input class="input-line" ng-model="cb.getProduct().dimensionL" required required>
                        </md-input-container>
                        <md-input-container class="col-md-3 input-container">
                            <label>Width</label>
                            <input class="input-line" ng-model="cb.getProduct().dimensionW">
                        </md-input-container>
                        <md-input-container class="col-md-3 input-container">
                            <label>Height</label>
                            <input class="input-line" ng-model="cb.getProduct().dimensionH">
                        </md-input-container>

                        <md-input-container class="col-md-3 input-container">
                            <label>Weight</label>
                            <input class="input-line" ng-model="cb.getProduct().weight">
                        </md-input-container>-->

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">
                                Dimensiuni
                            </label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input 
                                                type="text" 
                                                class="form-control" 
                                                id="dimensionL" 
                                                placeholder="Length"
                                                ng-model="cb.getProduct().dimensionL"
                                                required/>
                                    </div>
                                    <div class="col-sm-4">
                                        <input 
                                                type="text" 
                                                class="form-control" 
                                                id="dimensionW" 
                                                placeholder="Width"
                                                ng-model="cb.getProduct().dimensionW"
                                                required/>
                                    </div>
                                    <div class="col-sm-4">
                                        <input 
                                                type="text" 
                                                class="form-control" 
                                                id="dimensionH" 
                                                placeholder="Height"
                                                ng-model="cb.getProduct().dimensionH"
                                                required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="weight" class="col-sm-2 control-label">
                                Weight
                            </label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="weight" 
                                		placeholder="Weight"
                                		ng-model="cb.getProduct().weight"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">
                            	Description
                        	</label>
                            <div class="col-sm-10">
                                <textarea 
                            			class="form-control" 
                            			rows="5" 
                            			ng-model="cb.getProduct().description"
                            			id="description">
                    			</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">
                            	Manufacturer
                            </label>
                            <div class="col-sm-10">
                        		<input 
                                    type="text" 
                                    class="form-control" 
                                    id="Manufacturer" 
                                    placeholder="Manufacturer"
                                    ng-model="cb.getProduct().manufacturer"
                                    required/>
                                <!--<md-autocomplete 
	                        		md-selected-item="formData.manufacturer" 
	                        		md-search-text="searchText" 
	                        		md-items="item in getMatches(searchText)" 
	                        		md-item-text="item.name" 
	                        		md-min-length="0" 
	                        		placeholder="Manufacturer">
								        <md-item-template> 
									        <span md-highlight-text="searchText">
									        	{{item.name}}
									        </span>
								        </md-item-template>
								        <md-not-found>
								        	No matches found.
							        	</md-not-found>
							    </md-autocomplete>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">
                            	Categories
                            </label>
                            <div class="col-sm-10">
	                        		<!--md-selected-item="cb.getProduct().categories" -->
                        		<md-autocomplete 
	                        		md-search-text="searchText" 
                                    md-selected-item-change="cb.categoriesArray(item)"
	                        		md-items="item in cb.getCategories()" 
	                        		md-item-text="item.name" 
	                        		md-min-length="0" 
                                    md-no-cache="true"
	                        		placeholder="Categories"
                                    >
								        <md-item-template> 
									        <span md-highlight-text="searchText">
									        	{{item.name}}
									        </span>
								        </md-item-template>
								        <md-not-found>
								        	No matches found.
							        	</md-not-found>
							    </md-autocomplete>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label"></div>
                            <div class="col-sm-10">
                                <md-list>
                                    <md-list-item class="md-3-line" ng-repeat="category in cb.getProduct().categories">
                                        <md-button class="md-secondary md-raised md-warn"
                                                   ng-click="cb.removeCategoryProduct($index)">
                                            Remove
                                        </md-button>
                                        <div class="md-list-item-text">
                                            <p>{{category.name}}</p>
                                        </div>
                                        <md-divider ng-if="!$last"></md-divider>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
	                </md-content>
	            </md-tab>
	            <md-tab label="SEO">
	                <md-content class="md-padding content-md">
	                    <div class="form-group">
                            <label for="metaTitle" class="col-sm-2 control-label">Meta Tag Title</label>
                            <div class="col-sm-10">
                                <input 
                                		type="text" 
                                		class="form-control" 
                                		id="metaTitle" 
                                		placeholder="Meta Tag Title" 
                                		ng-model="cb.getProduct().metaTitle"
                                		required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="metaDescription" class="col-sm-2 control-label">Meta Tag Description</label>
                            <div class="col-sm-10">
                                <textarea 
                                		class="form-control" 
                                		rows="5"
                                		ng-model="cb.getProduct().metaDescription"
                                		id="metaDescription">
                        		</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="metaKeywords" class="col-sm-2 control-label">Meta Tag Keywords</label>
                            <div class="col-sm-10">
                                <textarea 
                                		class="form-control" 
                                		rows="5" 
                                		ng-model="cb.getProduct().metaKeywords"
                                		id="metaKeywords">
                        		</textarea>
                            </div>
                        </div>
	                </md-content>
	            </md-tab>
	            <md-tab label="Image">
	                <md-content class="md-padding content-md">
                        <div>
                            <md-table-container class="table-main">
                                <table md-table multiple 
                                    ng-model="selected"
                                    md-progress="promise" 
                                    class="">
                                    <thead md-head md-order="query.order" md-on-reorder="getCategories">
                                        <tr md-row>
                                            <th md-column>Images</th>
                                            <th md-column></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="category" 
                                            md-select-id="name" 
                                            ng-repeat="personalDetail in cb.getProduct().images track by $index">
                                            <!--ng-repeat="personalDetail in personalDetails track by $index">-->
                                            <td md-cell>
                                                <div class="box-wrap">
                                                    <md-button 
                                                        ng-if="!personalDetail.src"
                                                        ng-click="cb.showDialog($index)" 
                                                        class="md-icon-button button-left" 
                                                        aria-label="Add image">
                                                        <md-icon class="material-icons icon-store">
                                                            add_a_photo
                                                            <md-tooltip md-direction="right">
                                                                Add a image
                                                            </md-tooltip>
                                                        </md-icon>
                                                    </md-button>
                                                    <div class="box-image">
                                                        <img ng-click="showDialog($index)" 
                                                             ng-src="http://77.81.178.198:25001/onlineShop/{{personalDetail.src}}" 
                                                             alt="">
                                                    </div>
                                                    <!--<input type="number" ng-model="cb.getProduct().sort">-->
                                                    <input type="number" 
                                                        class="form-control input-sort"
                                                        ng-model="personalDetail.sort">
                                                    <md-button 
                                                        ng-click="cb.removeImage($index)" 
                                                        class="md-icon-button button-right" 
                                                        aria-label="Add product">
                                                        <md-icon class="material-icons icon-store">
                                                            indeterminate_check_box
                                                            <md-tooltip md-direction="left">
                                                                Remove {{personalDetail.name}}
                                                            </md-tooltip>
                                                        </md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td md-cell>
                                                <md-button 
                                                    ng-click="cb.addNewImage()" 
                                                    class="md-icon-button button-right" 
                                                    aria-label="Add product">
                                                    <md-icon class="material-icons icon-store">
                                                        add_box
                                                        <md-tooltip md-direction="left">
                                                            Add {{personalDetail.name}}
                                                        </md-tooltip>
                                                    </md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
	                </md-content>
	            </md-tab>
	        </md-tabs>
	    </md-content>    
	</form>
</div>