<div class="modal-header">
    <!--<h3 class="modal-title" id="modal-title">I'm a modal!</h3>-->
</div>
<div class="modal-body clearfix" id="modal-body">

    <div class="col-md-2">
        <div ng-repeat="thumb in image.bigImage track by $index">
            <div class="container-image">
                <div class="container-thumb"
                     ng-mouseover="hover(thumb)"
                     ng-click="click(thumb,bigImage)">
                    <img ng-src="http://77.81.178.198:25001/onlineShop/{{thumb}}" 
                        class="thumb"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="container-image container-height">
            <!--<img ng-src="http://77.81.178.198:25001/onlineShop/{{image.thumb}}" 
                 class="image"
                 alt="">-->

            <img ng-src="http://77.81.178.198:25001/onlineShop/{{image.thumb}}"  
                 class="image"
                 ng-init="zoomWidth = 100;imgStyle = {width:'70%'}"
                 ng-style="imgStyle" 
                 ng-class="{in:showCreateNewInterfacePanel}"
                 ng-mouse-wheel-up="zoomWidth = zoomWidth + 20; imgStyle.width = zoomWidth +'px'; "  
                 ng-mouse-wheel-down="zoomWidth = zoomWidth - 20;imgStyle.width = zoomWidth  +'px'; "/>
        </div>
    </div>

</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
</div>