<div class="">
    <div class="col-md-3 product-box" ng-repeat="product in cb.getProducts()">
        <div>
            <a href ng-click="cb.getProduct(product)">
                <img ng-src="http://77.81.178.198:25001/onlineShop/{{product.image.src}}" alt="">
            </a>
        </div>
        <div>
            <a href ng-click="cb.getProduct(product)">
                {{product.name}}
            </a>
        </div>
        <div>
            <a href ng-click="cb.getProduct(product)">
                {{product.description}}
            </a>
        </div>
        <div>
            {{product.price}}
        </div>
        <div>
            {{product.stockStatus}}
        </div>
    </div>
</div>

