<div class="container-center">
	<!--<div class="col-md-12">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li>
					dasdas
				</li>
				<li>
					<ul>
						<li class="dropdown" ng-repeat="button in categoryNav"> 
							<a ui-sref="home.category({id: button.id})"
							data-toggle="dropdown">
								<span ng-bind="button.name"></span>
								<b class="caret" ng-if="!button.subCategoryProductsCount.length == 0"></b>
							</a>
							<ul class="dropdown-menu" ng-if="!button.subCategoryProductsCount.length == 0">
								<li ng-repeat="subButton in button.subCategoryProductsCount">
									<a ui-sref="home.category({id: subButton.categoryId})">
									{{subButton.categoryName}} ({{subButton.numberOfProducts}})
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>-->
	<div class="col-md-12">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown" ng-repeat="button in categoryNav"> 
					<a ui-sref="home.category({id: button.id})"
					data-toggle="dropdown">
						<span ng-bind="button.name"></span>
						<b class="caret" ng-if="!button.subCategoryProductsCount.length == 0"></b>
					</a>
					<ul class="dropdown-menu" ng-if="!button.subCategoryProductsCount.length == 0">
						<li ng-repeat="subButton in button.subCategoryProductsCount">
							<a ui-sref="home.category({id: subButton.categoryId})">
							{{subButton.categoryName}} ({{subButton.numberOfProducts}})
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-2" ng-if="!$state.includes('home.product')">
		<div>
			<ul>
				<li><h3>Categories</h3></li>
				<li>Cat1</li>
				<li>Cat2</li>
				<li>Cat23</li>
				<li><h3>Manufactures</h3></li>
				<li>Man1</li>
				<li>Man2</li>
				<li>
					<h3>Manufactures</h3>
					
					<rzslider 
						rz-slider-model="1" 
						rz-slider-high="100" 
						rz-slider-options="minRangeSlider.options">
					</rzslider>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-10">
		<div ui-view></div>
	</div>
</div>
