<div class="container">

    <!--<h2>{{cb.getProduct().name}}</h2>
    <div class="col-md-7">
        <ul>
            <li>
                <img ng-src="http://77.81.178.198:25001/onlineShop/{{cb.getBigImagine()}}"
                     ng-click="click(hoveredImage,allImages)">
            </li>
            <li ng-repeat="thumb in cb.getThumbnails() track by $index" class="col-md-2">
                <div>
                    <img style="width:100%" 
                         ng-src="http://77.81.178.198:25001/onlineShop/{{thumb.src}}" 
                         alt="" 
                         ng-mouseover="cb.hoverThumbnails(thumb)"
                         ng-click="cb.openModalImages(thumb)">
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <h3>{{product.description}}</h3>
    </div>-->

    <div class="col-md-7">
        <ul>
            <li>
                <img ng-src="http://77.81.178.198:25001/onlineShop/{{hoveredImage}}"
                     alt="" 
                     ng-click="cb.openModalImages(hoveredImage,allImages)">
            </li>
            <li ng-repeat="thumb in bigImage track by $index" class="col-md-2">
                <div>
                    <img style="width:100%" 
                         ng-src="http://77.81.178.198:25001/onlineShop/{{thumb}}" 
                         alt="" 
                         ng-mouseover="hover(thumb)"
                         ng-click="cb.openModalImages(thumb,bigImage)">
                </div>
            </li>

        </ul>
    </div>
    <div class="col-md-5">
        <h3>{{product.description}}</h3>
    </div>
</div>


    <!--<div class="col-md-7">
        <ul>
            <li>
                <img ng-src="http://77.81.178.198:25001/onlineShop/{{hoveredImage}}"
                     alt="" 
                     ng-click="click(hoveredImage,allImages)">
            </li>
            <li ng-repeat="thumb in bigImage track by $index" class="col-md-2">
                <div>
                    <img style="width:100%" 
                         ng-src="http://77.81.178.198:25001/onlineShop/{{thumb}}" 
                         alt="" 
                         ng-mouseover="hover(thumb)"
                         ng-click="click(thumb,bigImage)">
                </div>
            </li>

        </ul>
    </div>
    <div class="col-md-5">
        <h3>{{product.description}}</h3>
    </div>
</div>-->

</div>