/* Component LESS */
@import "dashboard/templates/dash/dashboard.less";
@import "dashboard/templates/categories/categories.less";
@import "dashboard/templates/category/category.less";
@import "dashboard/templates/products/products.less";
@import "dashboard/templates/products/products.less";
@import "dashboard/templates/product/product.less";
@import "dashboard/templates/file-manager/file-manager.less";

@import "dashboard/templates/modules/modules.less";
@import "dashboard/templates/modules/banner/banner.less";
/* Add Component LESS Above */

@dashBlue  : #1976d2;
@lightBlue : #00bed4;
@inputBlue : #a2a2a2;
@saveGreen : #009e53;

.div-relative {
	position: relative
}


.container {
	width: 100%;
}


body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

// TOOLBAR
.toolbar {
	z-index: 99;
	.inner-toolbar {
		background-color: @lightBlue;
		color: white;
		position: fixed;
		.logo-button {
			background: white;
			margin-left: 10px !important;
			padding-left: 0px;
			.logo-icon {
				font-size: 25px;
				color: @lightBlue;
			}
			.logo-text {
				padding: 15px 0;
				display: block;
				font-size: 20px;
			}
		}
	}
}

.wrapper {
	height: 100%;
	.section {
		height: 100%;
	}
}

// ASIDE SIDEBAR TOOGLE
.sidebar-container {
	width: 240px;
    position: fixed;
    top: 64px;
    height: 100%;
	/*box-shadow: 0 1px 0px -2px rgba(0, 0, 0, 0.2), 0 8px 2px 1px rgba(0, 0, 0, 0.14), 0 2px 4px 1px rgba(0, 0, 0, 0.12);*/
	box-shadow: none; 
    .nav-store {
    	li a {
			text-align: left;
			padding: 5px 15px !important;
    	}
    }
	/*z-index: 1;*/
}

.aside-sideabr {
	position: fixed;
}

/*.form-control {
	border-radius: 2px;
	margin: 0;
	&:focus {
		box-shadow: none;
	    border-color: @inputBlue;
	};
}*/

 .form-control {
 	border-radius: 2px;
 	box-shadow: rgb(212, 212, 212) 0px 1px 1px 1px;
     border: 0px;
     border-radius: 0px;
     height: 42px;
 	-webkit-transition: width 2s;
 	transition: width 2s;
 	margin: 0;
 	&:focus {
 		box-shadow: #a2a2a2 0px 1px 1px 1px;
 	    border-color: @inputBlue;
	};
 }

.main-container {
	/*margin-left: 240px;*/
	width: 100%;
	background: #f1f2f3;
    height: 100%;
    padding: 0px;
    .breadcrumbs {
    	.breadcrumb {
		    background-color: #e4e4e4;
			font-size: 16px;
			text-transform: uppercase;
			/*background-image: url("assets/bc/bc_prod.png");*/
    		background-size: cover;
    		border-radius: 0;
    		padding: 80px 50px 20px;
		    /*border: 1px solid rgba(0, 0, 0, 0.12);*/
			border: 0;
			margin: 0;
			/*background-size: 100%;
			background-repeat: no-repeat;
			background-position-y: 50%;*/
    	}
    }
    .inner-box {
	    background-color: #fff;
    	color: #4F5256;
    	/*border: 1px solid rgba(0,0,0,.12);*/
		border: 0;
    	padding: 0px;
		.add-button-container {
			position: absolute;
			right: 40px;
			top: -27px;
			.add-button-round {
				line-height: 55px;
				width: 55px;
				height: 55px;
			}
		}
    	.md-padding {
		    padding-top: 50px;
    	}
    	.content-md {
    		background: white;
			padding: 40px 50px 0px 50px;
			/*box-shadow: 0 1px 0px -2px rgba(0, 0, 0, 0.2), 0 8px 2px 1px rgba(0, 0, 0, 0.14), 0 2px 4px 1px rgba(0, 0, 0, 0.12);
			margin: 20px;*/
			.input-container {
				/*margin-bottom: 0;*/
				label {
					left: initial;
					color: #a5a5a5;
					font-size: 15px;
					font-weight: initial;
				}
				.input-line {
					border-color: #e4e4e4;
					font-size: 16px;
				}
			}
		}
    }
}

// Material classes tables

/*.main-table-small {
	.md-row {
		th.md-column:nth-child(2) {
			width: 10%;
			.md-cell.md-numeric {
			text-align: left !important;
				
			}
		}
	}
}*/

.table-main {
	padding-top: 0px;
	table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric {
		text-align: center;
	}
	.checked {
		color: @saveGreen;
	}
}

// Material classes icons
.icon-store {
	font-size: 20px;
}

// Material classes buttons
.custom-btn {
	background: @lightBlue !important;
	.dev-icon {
		font-size: 25px;
	}
}
.save-green {
	background: @saveGreen !important;
	.dev-icon {
		font-size: 25px;
	}
}


.md-hue-2 {
	background: @lightBlue !important;
	.md-toolbar-tools .md-button {
		color: white;
	}
}
.md-button {
	margin: 0;
	text-transform: initial;
	border-radius: 0;
    color: #6C7177;
	font-weight: bold;
	.fa {
		height: 17px;
	    width: 17px;
	    min-height: 17px;
	    min-width: 17px;
	}
}

.primary.md-fab {
    background-color: @dashBlue !important;
}

.isDisabled {
    background: red !important;
}

// Pagination 

.md-table-pagination {
	.label {
		color: #6c7177;
		font-size: 12px;
		font-weight: initial;
	}
}